@font-face {
    font-family: xfiles;
    src: url(x-files-webfont.woff2);
}

h1 {
    font-family: xfiles;
    text-align: center;
}

.timer {
    text-align: center;
    margin: 0px 0px 20px 0px;
    font-family: xfiles;
}

.main-box {
    border: solid 1px black;
}
